{% extends 'base.html' %}

{% block content %}

<div class="container">
    {% for post in object_list %}
    <!--<li>--> <p> {{ post.price1}}</p>

    <p> {{ post.price2}}</p>

    <p> {{ post.price3}}</p>

    <p> {{ post.price4}} </p>

    <p> {{ post.price5}} </p>

    <p> {{ post.price6}} </p>

    <p> {{ post.price7}} </p>

    <p> {{ post.price8}} </p>

    <p> {{ post.price9}} </p>

    <p> {{ post.price10}} </p>

    <p> {{ post.price11}} </p>

    <p> {{ post.price12}} </p>

    <p> {{ post.price13}} </p>

    <p> {{ post.price14}} </p>

    <p> {{ post.price15}} </p>

    <p> {{ post.price16}} </p>

    <p> {{ post.price17}} </p>

    <p> {{ post.price18}} </p>

    <p> {{ post.price19}} </p>

    <p> {{ post.price20}} </p>

    <p> {{ post.price21}} </p>

    {% endfor %}
</div>

{% endblock %}